@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <div style="margin: 20px;">
        <!-- Image as Header -->
        <img src="https://media.licdn.com/dms/image/C4E1BAQFKmAbmmAMrHg/company-background_10000/0/1627032685389/vertex_infosoft_solutions_pvt_ltd_cover?e=2147483647&v=beta&t=CVcwXeb7puiaZrBzHIcmQVepO3w014ieWBDYKs_WSyI" alt="Header Image" style="display: block; margin: 0 auto; max-width: 100%; height: auto;">

        <!-- About Us Content -->
        <ul>
            <li>Headquartered in Mohali, India the company was incorporated in the year 1999. Today with over 20 years of experience, we are one of the fastest growing companies in the marine IT field serving many top shipping companies around the globe.</li>
            <li>Our comprehensive and integrated Ship Management Software titled “SMMS – Ship Maintenance & Management System” has been implemented on more than 1500 vessels worldwide.</li>
            <li><strong>Our Business</strong></li>
            <ul>
                <li>Development of Software Applications</li>
                <li>Creation of PMS & Inventory Databases for Vessels</li>
                <li>24x7 Technical Support</li>
                <li>On Site Implementations and Trainings</li>
                <li>Remote and On-board I.T. Services</li>
                <li>Documents Digitization</li>
            </ul>
        </ul>
    </div>
</body>
</html>
